table, th, tr, td {
    border: 2px solid black;
    text-align: center;
    padding: 10px;
}

.container {
    width: 70%;
    margin: 0 auto;
}

table {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
}